In [34]:
import pandas as pd

data = {
    'year': [2019, 2020, 2021, 2022, 2023],
    'title': ['극한직업', '남산의 부장들', '모가디슈', '범죄도시2', '서울의 봄'],
    'viewer': [1626, 475, 361, 1269, 1312],
    'rating': ['3.6', '3.5', '3.6', '3.5', '4.1']
    }

In [35]:
# DataFrame 2차원 배열
df = pd.DataFrame(data)
df

   year    title  viewer rating
0  2019     극한직업    1626    3.6
1  2020  남산의 부장들     475    3.5
2  2021     모가디슈     361    3.6
3  2022    범죄도시2    1269    3.5
4  2023    서울의 봄    1312    4.1

엘셀파일(csv,txt,excel) 저장

In [39]:
df
#csv로 저장
df.to_csv('movie.csv',encoding='utf-8-sig')

#txt파일 저장
df.to_csv('movie_t.txt',encoding='utf8')

#excel 파일 저장
df.to_csv('movie_e.xlsx')

df

   year    title  viewer rating
0  2019     극한직업    1626    3.6
1  2020  남산의 부장들     475    3.5
2  2021     모가디슈     361    3.6
3  2022    범죄도시2    1269    3.5
4  2023    서울의 봄    1312    4.1