In [1]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import requests
import oracledb

matplotlib.rcParams['axes.unicode_minus'] = False  # 마이너스 표시 해결
# 한글설정
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # windows 사용자
# matplotlib.rcParams['font.family'] = 'AppleGothic Gothic' # Mac사용자
matplotlib.rcParams['font.size'] = '10' # 글자크기

In [5]:
url="https://api.odcloud.kr/api/3051434/v1/uddi:a9238a42-556e-4feb-8e2e-f89c7ff72fb9_201706131814?page=1&perPage=10&serviceKey=bR8VrEdb3tH42N%2F1DeeaqaY44a39mVTRojVlGP6OOxEvM4CdjD3zBzO%2FGphkmdLD87hDUM%2B0i%2BT722sulnMfJg%3D%3D"
res = requests.get(url)
json1 = res.json()
datas = json1['data']

df = pd.DataFrame(datas)
df['진료건수']

0    61005932
1     2226345
2    39067888
3    19711699
4     9514703
5      241674
6     6246529
7     3026500
8     6091668
9      248460
Name: 진료건수, dtype: object

In [43]:
df

,기관부담금(천원),시도,입내원일수,종별,진료건수,진료실인원,진료일수,진료형태,총진료비(천원)
0,5390627489,전국,96329691,1종,61005932,1147555,478676699,계,5.443836e+09
1,3031441055,전국,37763697,1종,2226345,365012,43130721,입원,3.031987e+09
2,1512928134,전국,38854295,1종,39067888,1101057,110371962,외래,1.558049e+09
3,846258300,전국,19711699,1종,19711699,1028970,325174016,약국,8.538000e+08
4,779748814,서울,13185805,1종,9514703,179395,76975028,계,7.881638e+08
5,382328645,서울,3997689,1종,241674,47024,4772046,입원,3.824160e+08
6,260504054,서울,6161616,1종,6246529,173783,16971787,외래,2.676845e+08
7,136916115,서울,3026500,1종,3026500,162602,55231195,약국,1.380633e+08
8,567881423,부산,10358662,1종,6091668,107768,47018904,계,5.732066e+08
9,342524365,부산,4513025,1종,248460,37361,4978182,입원,3.425759e+08

In [18]:
# df.info()
df['진료실인원'].astype(int).sum()

4350527

In [23]:
filt1 = df[df['시도']=='서울']
filt2 = filt1['총진료비(천원)'].astype(int).sum()
filt2

1576327602

In [26]:
filt1
# 788163801+382416025+267684499+138063277

   기관부담금(천원)  시도     입내원일수  종별     진료건수   진료실인원      진료일수 진료형태   총진료비(천원)
4  779748814  서울  13185805  1종  9514703  179395  76975028    계  788163801
5  382328645  서울   3997689  1종   241674   47024   4772046   입원  382416025
6  260504054  서울   6161616  1종  6246529  173783  16971787   외래  267684499
7  136916115  서울   3026500  1종  3026500  162602  55231195   약국  138063277

In [48]:
df['총진료비(천원)']=df['총진료비(천원)'].astype(float)
df.groupby('시도')['총진료비(천원)'].sum().sort_values()

시도
부산    9.157824e+08
서울    1.576328e+09
전국    1.088767e+10
Name: 총진료비(천원), dtype: float64

In [45]:
df['총진료비(천원)']

0    5.443836e+09
1    3.031987e+09
2    1.558049e+09
3    8.538000e+08
4    7.881638e+08
5    3.824160e+08
6    2.676845e+08
7    1.380633e+08
8    5.732066e+08
9    3.425759e+08
Name: 총진료비(천원), dtype: float64