In [1]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
matplotlib.rcParams['axes.unicode_minus'] = False  # 마이너스 표시 해결
# 한글설정
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # windows 사용자
# matplotlib.rcParams['font.family'] = 'AppleGothic Gothic' # Mac사용자
matplotlib.rcParams['font.size'] = '10' # 글자크기

In [2]:
# 데이터 불러오기
df = pd.read_excel('../z20_data/stat_142801.xls',skiprows=2,nrows=2,index_col=0)
df

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
출생아 수,471.300,484.600,436.500,435.400,438.400,406.200,357.800,326.800,302.700,272.30
합계 출산율,1.244,1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.84

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 출생아 수 to 합계 출산율
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2011    2 non-null      float64
 1   2012    2 non-null      float64
 2   2013    2 non-null      float64
 3   2014    2 non-null      float64
 4   2015    2 non-null      float64
 5   2016    2 non-null      float64
 6   2017    2 non-null      float64
 7   2018    2 non-null      float64
 8   2019    2 non-null      float64
 9   2020    2 non-null      float64
dtypes: float64(10)
memory usage: 176.0+ bytes

In [10]:
df.index

Index(['출생아 수', '합계 출산율'], dtype='object')

In [12]:
df.index.values

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [11]:
# 엑셀파일을 import할때 index의 보이지 않는 특수문자가 있는지 체크
# df.loc['출생아 수']
df.loc['출생아\xa0수']

2011    471.3
2012    484.6
2013    436.5
2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
Name: 출생아 수, dtype: float64

In [13]:
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)

In [14]:
df.loc['출생아 수']

2011    471.3
2012    484.6
2013    436.5
2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
Name: 출생아 수, dtype: float64

In [16]:
df.columns

Index(['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020'],
      dtype='object')

In [20]:
df = df.T

In [21]:
df

      출생아 수  합계 출산율
2011  471.3   1.244
2012  484.6   1.297
2013  436.5   1.187
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.840

In [ ]:
# 출생아 수는 막대 그래프로
# 합계출산율은 꺽은선 그래프로 출력하시오.